[Unit]
Description=Hoppdelay
After=multi-user.target

[Service]
ExecStartPre=-/usr/bin/v4l2-ctl -d /dev/v4l/by-id/usb-GN_Jabra_A_S_Jabra_PanaCast_20_A9002000849C-0-video-index0 -c zoom_absolute=100,pan_absolute=0,tilt_absolute=0,power_line_frequency=1
ExecStart=/usr/local/bin/hoppdelay.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
